# Ignore environment variables and API keys
.env  

# Ignore Python cache files  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  

# Ignore virtual environment folders  
venv/  
env/  

# Ignore unnecessary system files  
.DS_Store  
Thumbs.db  
